---
import "../css/style.css";
import Mainlayout from "../layouts/Mainlayout.astro"
import TextBoxAboutUs from "../components/TextBoxAboutUs.astro";
---

<Mainlayout title="Om os">
<!-- her skriver vi alt indhold til siden ;D -->
<section> 
    <h2> Om Os</h2>

    <div class="grid_3-1">
        <div class="div_box"> 
            <p class="OmOs_Text1">
                “Jeg kan ikke huske en tid, hvor jeg ikke har leget med lego. Selv da jeg var barn, var jeg kæmpe lego-fan. Her husker jeg tydeligt, hvordan jeg samlede på Harry Potter-sættene, og hvordan hver en klods udgjorde en vigtig del af et samlet puslespil. Da jeg fandt mine gamle lego-sæt frem og begyndte at sortere i det, kom minderne pludselig tilbage.
            </p>
        <div class="grid_2-1"> 
        <p>
            Jeg undersøgte, om man mon kunne sælge brugt lego og hvad folk tog for det. Til min store overraskelse syntes jeg, 
            at priserne var meget høje. Jeg blev meget ærgerlig over, at i vores ellers så bæredygtige samfund, så skulle en gammel/brugt legoklods måske sætte en begrænsning for tilgængeligheden.
        </p>

        <img class="legomand" id="red_legomand1" src="/icons/red_legomand.svg" alt="Rød legomand"> 
        </div>
        <p> 
            Jeg ville derfor skabe en forretning der satte fokus på, at gøre legoklodser til en allemandseje for både børn og voksne. Ud fra denne idé blev OneBrick skabt.”
        </p>

        <p id="citat">- Marcus, stifter</p>
        </div>
      
        <img class="legomand" id="red_legomand2" src="/icons/red_legomand.svg" alt="Rød legomand"> 
    </div>
</section>
<TextBoxAboutUs/>
</Mainlayout>

<style>
section {
    margin: 0 20px;
    padding-top: 40px;
}

.grid_3-1{
    display: none:
}

.grid_2-1{
    display: grid;
    grid-template-columns: 2fr 1fr;
}


#citat{
    font-weight: 800;
    padding-bottom: 30px;
}

#red_legomand1{
    margin: auto;
    max-width: 200px;
}
#red_legomand2{
    display: none;
}




@media screen and (min-width: 1000px){

    section {
    margin: 0 120px;
    }
    #red_legomand2{
        width: 530px;
        display:flex;
        justify-content: space-between;
    }
    .grid_3-1{
    display: flex;
    grid-template-columns: 3fr 1fr;
    gap: 200px;
    }
    #red_legomand1{
        display: none;
    }
    .grid_2-1{
    grid-template-columns: 1fr;
    }
    .div_box{
        max-width: 700px;
    }

    p{
    max-width:700px ;
    }
}

</style>