---
import "../css/style.css";
import Mainlayout from "../layouts/Mainlayout.astro";
import ConceptGrid from "../components/ConceptGrid.astro";
import Process from "../components/Process.astro";
import ProcentBanner from "../components/ProcentBanner.astro";
import FN from "../components/FN.astro";
---

<Mainlayout title="Vores koncept">
<section> 
    <h2>Vores koncept</h2>

 <div class="grid_1-1">
    <div class="paragraf">
        <p class="p1">Hos OneBrick sælger vi brugte legoklodser, som andre lego-entusiaster har haft glæde af. Vi tilbyder løsdele, plader og minifigurer samt mulighed for donation og salg af dine brugte legoklodser. Dette alt sammen, for at bidrage til et mere bæredygtigt samfund.</p>

        <p class="p2">Vi mener at vores fornemmeste opgave er at give brugte legoklodser et nyt liv, uden at dette skal gå på kompromis med kvaliteten af klodsen.</p>

        <p class="p3">Ideen til OneBrik er skabt ud fra en vision om, at legoklodser skal være en allemandseje. Ud fra denne vision skabte vi et bæredygtigt koncept, hvor legoklodsens cyklus er i fokus. </p>
    </div>

    <div>
        <ConceptGrid/>
    </div>  
</div>
</section>
<section> 
    <Process img="/icons/vask.svg" alt="Vask legoklods" header="1. Vask" text="Legoklodsen bliver vasket i neutral sæbe, eddike og vand."/>
    <Process img="/icons/tørring.svg" alt="Tør legoklods" header="2. Tørring" text="Legoklodsen bliver lagt til tørring i et tørrerum."/>
    <Process img="/icons/sortering.svg" alt="Sorter legoklods" header="3. Sortering" text="Legoklodsen sorteres efter ønsket kvalitet."/>
    <Process img="/icons/pakning.svg" alt="Pak legoklods" header="4. Pakning" text="Legoklodsen pakkes og sendes af sted til forbrugeren."/>
</section>
    <ProcentBanner header="51%" text="Mener at gode genbrugsvare spiller en vigtig rolle for at skabe et bæredygtigt samfund"/>
<section>
    <h2 class="FN_text">FN verdensmål</h2>
    <FN img="/img-figur/fn5.webp" alt="FN Verdensmål 5" text="Vi sikrer ligestilling mellem kønnene ved aktivt at fravælge omtalen af køns-pronominer på vores digitale platforme. "/>
    <FN img="/img-figur/fn12.webp" alt="FN Verdensmål 12" text="Vi bidrager til et ansvarligt forbrug og til en cirkulær produktion, da vi handler med brugte legoklodser, der bruges i samme form som da den blev produceret."/>
    <FN img="/img-figur/fn13.webp" alt="FN Verdensmål 13" text="Vi bidrager til at mindske klimaaftrykket på planeten, da vi har taget et aktivt valg om at lave vores digitale webløsning så bæredygtig som muligt."/>
</section>
</Mainlayout>

<style>

.section{
    margin-left: 20px;
}
  .grid_1-1{
        display: grid;
        grid-template-columns: 1fr 1fr;
       
    }

    p{
        margin-left: 20px;
    }
    h2{
        margin-top: 40px;
        margin-left: 12px;
        margin-bottom: 6px;
    }
    .paragraf {
        width: 200px;
    }

    .p1, .p3 {
        width: 300px;
    }
    .p1{
        margin-top: -10px;
    }

    .p2 {
        padding-top: 20px;
        padding-bottom: 20px;
    }


    .FN_text{
        text-align: center;
        padding-top: 20px;
        margin-bottom: 20px;
    }

    @media (min-width: 1000px){
        .grid_1-1{
        display: grid;
        grid-template-columns: 1fr 1fr;
        margin: 60px; 
    }

    .p1, .p2, .p3 {
        width: 700px;
    }
        .paragraf {
        width: 700px;
        margin:0 60px; 
    }
    h1{
        font-size: 110px;
        font-weight: 900;
        margin-left: 60px;
        margin-top: 50px;
    }
    h2{
        margin-top: 80px;
        margin-left:132px;
    }

    .FN_text{
        margin-top: 60px;
    }


    }
</style>