---
import "../css/style.css";
import Mainlayout from "../layouts/Mainlayout.astro";
import BuyBrickButtons from "../components/BuyBrickButtons.astro"
import Delivery from "../components/Delivery.astro"
import ProcentBanner from "../components/ProcentBanner.astro";
import BuyBox from "../components/BuyBox.astro";
import HomeExplorebuttons from "../components/HomeExplorebuttons.astro";
import ImgBox from "../components/ImgBox.astro";
---

<Mainlayout title="One Brick">

<section class="forsideText">
    <h1>OneBrick</h1>
    <p>Giv brugte legoklodser nyt liv...</p>
    <BuyBrickButtons/>
</section>

<div class="billeder">
<img class="forside" src="/img-figur/forside.svg">
</div>

<Delivery/>

<div class="procent">
    <ProcentBanner header="34%" text="af danskerne sælger deres ting for at gøre noget godt for miljøet"/>
</div>

<div class="sælgBox">
    <div class="imgBox1">
        <ImgBox img="/img-figur/Legobrik.svg" alt="Legoklods med 1 dut"/>
     </div>

    <div class="box1">
        <BuyBox titel="SÆLG/DONER" header="SÆLG ELLER DONER DINE BRUGTE LEGOKLODSER" text="Giv dine brugte legoklodser nyt liv..."/>
        <HomeExplorebuttons href_text="/donate_sell" text="UDFORSK SÆLG/DONER"/>
    </div>
</div>

<div class="sælgBox">
    <div class="box2">
        <BuyBox titel="KØB" header="KØB BRUGTE LEGOKLODSER" text="Køb lige præcis den klods som du står og mangler..."/>
        <HomeExplorebuttons href_text="/productlist" text="UDFORSK KØB"/>
    </div>

    <div class="imgBox2">
        <ImgBox img="/img-figur/klods2.svg" alt="Legoklods med 2 dutter"/>
    </div>
</div>

</Mainlayout>


<style>
    .forsideText{
        margin-left: 10px;
    }
    h1{
        font-size: 77px;
        font-weight: 900;
        margin-top: 20px;
    }
    p{
        font-size: 20px;
        font-weight: 400;
        color: #B5B5B5;
        margin-top: -45px;
        margin-bottom: 50px;
    }
   
    .billeder{
        display: flex;
        margin: 0;
        margin-bottom: -40px;
        z-index: -1;
    }

    .forside {
       max-width: 100%;
       margin-top: 20px;
        z-index: -1;
    }
    .procent {
        margin-top: -83px;
    }
    .box1{
        background-color: var(--background_color);
        padding: 30px;
        margin-top: -16px;
    }

    .imgBox1, .imgBox2{
        display: none;
    }
    .box2{
        background-color: var(--box_color);
        padding: 30px;
    }

    @media (min-width: 1000px){
        h1{
            font-size: 180px;
            margin-left: 50px;
        }

        p{
            font-size: 30px;
            margin-left: 70px;
            margin-top: -120px;
        }

        .billeder{
            z-index: -10;
            margin: 0;
            margin-bottom: -145px;
            margin-top: -150px;
        }

        .forsideText {
            ma
        }
        .forside {
            max-width: 100%;
            width: 5000px;
            z-index: -10;
            margin: 0;
        }
    .procent {
        margin-top: -135px;
    }

    .imgBox1, .imgBox2{
        display: grid;
    }
    .sælgBox{
        display: grid;
        grid-template-columns: 1fr 1fr;
        margin: 0;
        padding: 0px;
    }
    .box1{
        margin-top: 0px;
        margin-left: 30px;
    }
    .box2{
        background-color: var(--background_color);
        margin-left: 30px;
    }
}
    
</style>