---
import "../css/style.css";
import Mainlayout from "../layouts/Mainlayout.astro";
import ProductCard from "../components/ProductCard.astro";
import DropCategory from "../components/DropCategory.astro";

 const url = "https://zalgeaakczgvvabyukxy.supabase.co/rest/v1/onebrick";

const options = {
  headers: {
    apikey: "eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6InphbGdlYWFrY3pndnZhYnl1a3h5Iiwicm9sZSI6ImFub24iLCJpYXQiOjE3MDIwNDYyMTMsImV4cCI6MjAxNzYyMjIxM30.whMkOHF_vj4y1xhGC_SGbzmJ7qCi71W9ouWSLbijLEE",
  },
};
    const response = await fetch(url, options)
    const alleProdukter = await response.json(); //jeres hedder alleProdukter

    const klodser = alleProdukter.filter((product) => product.type == "klods"); // I skriver produkt.type == "klods" osv.
    const plader = alleProdukter.filter((product) => product.type == "plade"); // const Plader osv.
    const vinduer = alleProdukter.filter((product) => product.type == "vindue");
    const hælndninger = alleProdukter.filter((product) => product.type == "hældning");
    const andet = alleProdukter.filter((product) => product.type == "andet");

---

<Mainlayout title="Produkter">
    <article class="grid_1">
        <section class="category_list">
            <section class="search">

            </section>
            <section class="category">
                <details>
                    <summary>Type</summary>
                            <button class="aktivknap">Alle</button>
                            <button>klods</button>
                            <button>plade</button>
                            <button>hældning</button>
                            <button>vindue</button>
                            <button>andet</button>
                </details>
            </section>   
        </section>
        <section class="product_list">
            <h1>Produkter</h1>
            <button class="category_bnt">KATEGORI LISTE <img class="drop_down_arrow" src="../../public/drop_down_arrow.svg" alt="pil icon"></button>
            <div class="product_grid">
               {alleProdukter.map((product)=>{
                return <ProductCard card={product}/>
               })} 
            </div>
        </section>
    </article>
</Mainlayout>

<style>

    .grid_1{
        display: grid;
        grid-template-columns: 1fr;
    }

    .product_grid{
        display: grid;
        grid-template-columns: 1fr 1fr;
        justify-items: center;
    }
    .category_list{
        display: none;
    }
    .product_list{
        background-color: var(--background_color);
    }

    h1{
        text-align: start;
        font-size: 60px;
        margin-top: 10px;
        margin-bottom: 20px;
        margin-left: 10px;
    }

    .drop_down_arrow.active {
        rotate: 90deg;
    }

    .category_bnt{
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 10px;
        height: 35px;
        width: 150px;
        margin-left: 11px;
        color:var(--fotter_color);
        background-color: var(--button_yellow);
        font-size: 14px;
        cursor: pointer;
        border-radius: 3px;
        border:none;
    }

    .category_bnt:hover{
        color:var(--font_color);
        background-color: var(--footer_color);
        border:3px solid var(--button_yellow);
    }

    .category_bnt:active{
        color:var(--font_color);
        background-color: var(--footer_color);
        border:3px solid var(--button_yellow);
    }

    @media (min-width: 1000px){
        details, p{
            font-size: 18px;
            padding-left: 25px;
        }

        details, p:hover{
            text-decoration: underline;
        }

        details, p:active{
            text-decoration: underline;
        }
        details{
            cursor: pointer;
            padding: 10px;
            text-decoration: none;
        }
        summary{
            font-family: var(--system-ui);
            color: var(--font_color);
            font-size: 25px;
            display: block;
        }    
        
        summary:hover{
            text-decoration: underline;
        }

        summary:active{
            text-decoration: underline;
        }
        summary::after{
            content: url('../../public/drop_down_arrow_white.svg') ;
            margin-left: 10px;
        }

        details[open] > summary::after{
            content: url('../../public/drop_down_arrow_white_turned.svg') ;
            
        }
        .category_list{
            display: block;
            background-color: var(--background_color);
        }
        .product_list{
            background-color: var(--box_color);
            border-top-left-radius: 4px;
        }
        .grid_1{
            display: grid;
            grid-template-columns: 1fr 5fr;
        }

        .product_grid{
            grid-template-columns: 1fr 1fr 1fr;
        }

        h1{
            text-align: center;
            font-size: 70px;
            margin-top: 30px;
            margin-bottom: 20px;
        }

        .category_bnt{
            display: none;
        }
    }

</style>

<script>
    
  const knapper = document.querySelectorAll("button");
  const mere = document.querySelectorAll(".mere");
  const mereknapper = document.querySelectorAll(".mereknap");
  const kasser = document.querySelectorAll(".type");

  knapper.forEach((knap) => {
    knap.addEventListener("click", sorter);
  });

  function sorter() {
    document.querySelector(".aktivknap").classList.remove("aktivknap");
    this.classList.add("aktivknap");
    kasser.forEach((kasse) => kasse.classList.add("hide"));
    mere.forEach((kasse) => kasse.classList.add("hide"));
    mereknapper.forEach((knap) => knap.classList.remove("hide"));
    const type = "." + this.textContent;
    if (this.textContent == "Alle") {
      kasser.forEach((kasse) => kasse.classList.remove("hide"));
    } else {
      document.querySelector(type).classList.remove("hide");
      document.querySelector(type + " .mere").classList.remove("hide");
      document.querySelector(type + " .mereknap").classList.add("hide");
    }
  }

</script>