---
import "../css/style.css";
import Mainlayout from "../layouts/Mainlayout.astro";
import ProductShelf from "../components/ProductShelf.astro";

 const url = "https://zalgeaakczgvvabyukxy.supabase.co/rest/v1/onebrick";

const options = {
  headers: {
    apikey: "eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6InphbGdlYWFrY3pndnZhYnl1a3h5Iiwicm9sZSI6ImFub24iLCJpYXQiOjE3MDIwNDYyMTMsImV4cCI6MjAxNzYyMjIxM30.whMkOHF_vj4y1xhGC_SGbzmJ7qCi71W9ouWSLbijLEE",
  },
};
    const response = await fetch(url, options)
    const alleProdukter = await response.json(); //jeres hedder alleProdukter

    const klodser = alleProdukter.filter((product) => product.type == "klods"); // I skriver produkt.type == "klods" osv.
    const plader = alleProdukter.filter((product) => product.type == "plade"); // const Plader osv.
    const vinduer = alleProdukter.filter((product) => product.type == "vindue");
    const hælndninger = alleProdukter.filter((product) => product.type == "hældning");
    const andett = alleProdukter.filter((product) => product.type == "andet");

---

<Mainlayout title="Produkter">
    <article class="grid_1">
        <section class="category_list">
            <section class="search">
                <input type="text" placeholder="Søg..">
            </section>
            <section class="category_desktop">
                <p>Sorter efter: </p>
                <button class="aktivknap">Alle</button>
                <button>Klods</button>
                <button>Plade</button>
                <button>Hældning</button>
                <button>Vindue</button>
                <button>Andet</button>
            </section>   
        </section>
        <section class="product_list">
            <h1>Produkter</h1>
            <section class="search_mobile">
                <input type="text" placeholder="Søg..">
            </section>
            <section class="category_mobile">
                <p>Sorter efter: </p>
                <div class="button_flex">
                    <button class="aktivknap">Alle</button>
                    <button>Klods</button>
                    <button>Plade</button>
                    <button>Hældning</button>
                    <button>Vindue</button>
                    <button>Andet</button>
                </div>
            </section>
            
            <div class="product_flex">
                <div class="type klods">
                    <ProductShelf indhold={klodser} />
                </div>
                <div class="type plade">
                    <ProductShelf indhold={plader} />
                </div>
                <div class="type vindue">
                    <ProductShelf indhold={vinduer} />
                </div>
                <div class="type hældning">
                    <ProductShelf indhold={hælndninger} />
                </div>
                <div class="type andet">
                    <ProductShelf indhold={andett} />
                </div>

            </div>
        </section>
    </article>
</Mainlayout>

<style>

    input {
        padding: 10px 10px;
        background-color: var(--footer_color);
        border-color: var(--footer_color);
        color: var(--font_color);
        margin: 10px 0px;
        font-size: 20px;
        width: 300px;
        border-radius: 3px;
    }
    .grid_1{
        display: grid;
        grid-template-columns: 1fr;
    }

    .product_flex{
        display: flex;
        flex-direction: column;
        background-color: var(--box_color);
    }
    .product_list{
        background-color: var(--background_color);
    }

    h1{
        text-align: start;
        font-size: 60px;
        margin-top: 10px;
        margin-bottom: 20px;
    }

    .category_list{
        display:none;
    }

    .hide{
        display: none;
    }

    .aktivknap{
            background-color: var(--box_color);
            border-color: var(--box_color);
        }

    button{
        padding: 8px;
        background-color: var(--background_color);
        border-radius: 3px;
        border-color: var(--background_color);
        color: var(--font_color);
    }

    .button_flex{
        display: flex;
        justify-content: center;
        gap: 10px;
    }


    @media (min-width: 1000px){

        input {
            padding: 10px 10px;
            background-color: var(--footer_color);
            border-color: var(--footer_color);
            color: var(--font_color);
            margin: 10px 0px;
            font-size: 20px;
            width: 200px;
            border-radius: 3px;
        }
        button{
            padding: 15px 15px;
            background-color: var(--background_color);
            border-radius: 3px;
            border-color: var(--background_color);
            color: var(--font_color);
        }

       
        .search_mobile{
            display: none;
        }
        .category_mobile{
            display: none;
        }

        .category_desktop{
            display: flex;
            flex-direction: column;
        }

        .category_list{
            display: block;
            background-color: var(--background_color);
        }
        .product_list{
            background-color: var(--box_color);
            border-top-left-radius: 4px;
        }
        .grid_1{
            display: grid;
            grid-template-columns: 1fr 5fr;
        }

        h1{
            text-align: center;
            font-size: 70px;
            margin-top: 30px;
            margin-bottom: 20px;
        }

    }

</style>

<script>
    
  const knapper = document.querySelectorAll("button");
  const kasser = document.querySelectorAll(".type");

  knapper.forEach((knap) => {
    knap.addEventListener("click", sorter);
  });

  function sorter() {
    document.querySelector(".aktivknap").classList.remove("aktivknap");
    this.classList.add("aktivknap");
    kasser.forEach((kasse) => kasse.classList.add("hide"));
    const type = "." + this.textContent;
    if (this.textContent == "Alle") {
      kasser.forEach((kasse) => kasse.classList.remove("hide"));
    } 
    else {
      document.querySelector(type).classList.remove("hide");
    }
  }

</script>