---
import "../css/style.css";
---

<span>
    <button id="minus">-</button>
    <div id="number"></div>
    <button id="plus">+</button>
</span>

<style>

span{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 50px;
}

#number{
    color: var(--font_color);
    font-family: var(--system-ui);
    font-size: 35px;
}


button{
    color:var(--font_color);
    background-color: var(--button_red);
    width: 48px;
    height: 44px;
    font-size: 24px;
    cursor: pointer;
    border-radius: 5px;
    border:none;
}

button:hover{
    color:var(--font_color);
    background-color: var(--footer_color);
    border:2px solid var(--button_red);
}

@media screen and (min-width: 1000px){
    button{
        width: 52px;
        height: 48px;
        font-size: 28px;
    }

    button:hover{
        width: 52px;
        height: 48px;
        font-size: 28px;
    }
}

</style>

<script src="../js/script.js"></script>