---
import "../css/style.css";
---

<a href="">KØB BRUGTE LEGOKLODSER</a>

<style>
a{
    background-color: #D0C6A2;
    color:#151513; 
    padding: 20px 25px;
    border-radius: 5px;
    text-decoration: none;
}

a:hover{
    background-color: #151513;
    color: #D0C6A2;
    border: 2px solid #D0C6A2;
}
</style>