---
const {titel, header, text} = Astro.props
---
    <h1>{titel}</h1>
    <h2>{header}</h2>
    <h3>{text}</h3>


<style>
   h1 {
    font-size: 12px;
    margin-bottom: 20px;
   }

   h2 {
    font-size: 30px;
    font-weight: 400;
    margin-right: 30px;
    margin-bottom: 0px;
   }

   h3{
    font-size: 18px;
    font-weight: 300;
    margin-bottom: 70px;
   }

</style>