---
---
<button>VÆLG FARVE<i class="fa fa-angel-down"></i></button>

<style>
button{
    color: var(--footer_color);
    background-color: var(--button_yellow);
    padding:8px 16px;
    font-size: 12px;
    cursor: pointer;
    border-radius: 5px;
    border:none;
}

button:hover{
    color: var(--font_color);
    background-color: var(--footer_color);
    border:2px solid var(--button_yellow);
    padding:6px 14px;
}

@media screen and (min-width: 1000px){
    button{
        padding:10px 18px;
        font-size: 14px;
    }

    button:hover{
        padding:8px 16px;
        font-size: 14px;
    }
}
</style>