---
---

<div class="contact_box">
    <p class="contact"> KONTAKT:</p>
    <div class="contact_text"> 
        <p>Telefon: +45 32 85 92 38</p>
        <p> Mail: Info@onebrick.dk</p>
    </div>
    <div class="flex"> 
        <a href=""> 
            <img class="icons" id="facebook" src="/icons/facebook_OneBrick.svg" alt="Facebook"> 
        </a>  
        <a href="">  
            <img class="icons" id="instagram" src="/icons/instagram_ONeBrick.svg" alt="Instagram">
        </a>
    </div>
</div>

<style>
    .icons{
        width:30px;
        cursor: pointer;
    }
    .contact{
        padding-bottom: 6px;
    }
    .flex{
        display: flex;
        gap: 10px;
    }
    .contact_box{
        padding-bottom: 10px;
    }

    
</style>