---

---

<section class="grid_1-1-1">

<div class="levering">
    <h1>Levering</h1>
    <p>1 - 5 hverdage</p>
</div>

<div class="streg">
    <img src="../Public/img-figur/lodret.svg" alt="Lodret streg">
</div>

<div class="fragt">
    <h1>Gratis fragt</h1>
    <p>Over 500 kr.</p>
</div>
</section>

<style>
    .grid_1-1-1 {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        background-color: var(--box_color);
        margin-top: -40px;
    }

    h1, p {
        font-family: var(--system-ui);
        color: var(--button_yellow);
        text-align: center;
    }

    h1{
        font-size: 18px;
        font-weight: 700;
    }

    p{
        font-size: 14px;
        font-weight: 400;
    }

    .levering {
        margin-left: 40px;
    }

    .streg{
        display:flex;
        justify-content: center;
    }

    img{
        width: 2px;
        height: 64px;
        margin-top: 10px;
    }

    .fragt{
        margin-left: -50px;
    }
  
</style>
