---
import "../css/style.css";
---

<article class="drop_down">
    <a href="/productlist">PRODUKTER</a>
    <a href="/donate_sell">DONER/SÆLG</a>
    <a href="/concept">VORES KONCEPT</a>
    <a href="/about_us">OM OS</a>
</article>

<style>

    .drop_down{
        display: flex;
        flex-direction: column;
        background-color: var(--background_color);
        justify-content: space-evenly;
        height: 400px;
        padding-left: 30px;
    }

</style>