---
import "../css/style.css";
---

<article class="drop_down">
    <a class="link" href="/productlist">PRODUKTER</a>
    <a class="link" href="/donate_sell">DONER/SÆLG</a>
    <a class="link" href="/concept">VORES KONCEPT</a>
    <a class="link" href="/about_us">OM OS</a>
</article>

<style>

    .drop_down{
        display: none;
    }
    .drop_down.active{
        display: flex;
        flex-direction: column;
        background-color: var(--background_color);
        justify-content: space-evenly;
        height: 400px;
        padding-left: 30px;
        padding-top: 120px;
        position: fixed;
        width: 100%;
        z-index:2;
    }

    @media (min-width: 1000px){
        .drop_down.active{
        display: none;
    }
    }

</style>

<script src="../js/script.js"></script>