---
const {img, text} = Astro.props;
---
<div class="grid_1-1">
<img src={img}>
<p>{text}</p>
</div>

<style>
    .grid_1-1 {
        display: flex;
        justify-content: center;
    }

    img{
        width: 120px;
        height: 120px;
        margin-left: 20px;
        margin-right: 20px;
        margin-bottom: 40px;
    }

    p{
     max-width: 260px;
     margin-right:10px;
     margin-top: 0px;
    }
    
    @media (min-width: 1000px){
    .grid_1-1 {
        margin: 40px 0;
    }
    img{
        width: 180px;
        height: 180px;
        margin: 30px;
        margin-left:90px;
    }


    p{
        max-width: 500px;
        margin-top: 26px;
    }
    }
</style>