---
import Contact from "./Contact.astro";
import Open from "./Open.astro";
import Location from "./Location.astro";
---

<div class="footer"> <!-- idel i flex -->
    <Contact/>
    <Open/>
    <Location/>
</div>

<style>
.footer{
    background-color: #151513;
    
}

@media screen and (min-width: 1000px){
    .footer{
        display: flex;
        justify-content: space-between;
        padding: 0 10px;
    }
}
</style>