---
const {img} = Astro.props
---
<div class="box">
    <img src={img}>
</div>

<style>
    .box{
        background-color: var(--box_color);
        padding:60px 0;
    }

    img{
        width: 222px;
        height: 282px;
        margin: auto;
        display:block;
        
    }
</style>