---
---

<div class="location_box">
    <p class="location">LOKATION:</p>
    <div>
        <p>Enmegetlangtadresse nr. 20</p>
        <p>2879 Anerdetikke</p>
    </div>
</div>

<style>
   .location{
        padding-bottom: 6px;
    }

    .location_box{
        padding-bottom: 10px;
    }
</style>