---
---

<div class="location_box">
    <p class="location">LOKATION:</p>
    <div>
        <p>Bagsværd hovedgade 53-57</p>
        <p>2880 Bagsværd</p>
    </div>
</div>

<style>
   .location{
        padding-bottom: 6px;
    }

    .location_box{
        padding-bottom: 10px;
    }
</style>