---
---

<div class="open_box">
    <p class="open">ÅBNINGSTIDER KUNDESERVICE:</p>
        <div> 
            <p>Man- Fre: 10-16</p>
            <p>Weekend: Lukket</p>
            <p>Helligdage: Lukket</p>
        </div>
</div>

<style>
       .open{
        padding-bottom: 6px;
    }

    .open_box{
        padding-bottom: 10px;
    }
</style>