---
import "../css/style.css";
const {text} = Astro.props
---
<button> 
    {text}
</button>

<style>
    button{
    color:var(--font_color);
    background-color: var(--button_red);
    width: 48px;
    height: 44px;
    font-size: 24px;
    cursor: pointer;
    border-radius: 5px;
    border:none;
}

button:hover{
    color:var(--font_color);
    background-color: var(--footer_color);
    border:2px solid var(--button_red);
}

@media screen and (min-width: 1000px){
    button{
        width: 52px;
        height: 48px;
        font-size: 28px;
    }

    button:hover{
        width: 52px;
        height: 48px;
        font-size: 28px;
    }
}
</style>