---
const {header, text} = Astro.props;
---
<div class="banner">
    <h1>{header}</h1>
    <p>{text}</p>
</div>

<style>
    .banner{
        background: var(--Footer, #151513);
    }

    p{
        font-family: var(--system-ui);
        color: var( --font_color);
        font-size: 16px;
        font-weight: 200;
        margin-left: 155px;
        margin-top: -140px;
        padding-right: 35px;
        padding-bottom: 40px;
    }

    h1{
        color: var(--BACKGROUND, #242520);
        font-family: var(--system-ui);
        font-size: 124px;
        font-weight: 900;
        margin-left: 40px;
        padding-top: 20px;
    }

    @media (min-width: 1000px){
        .banner{
            padding-bottom: 10px;
        }
        h1{
            font-size: 200px;
            margin-left: 400px;
            padding-top: 40px;
        }

        p{ 
            font-size: 30px;
            margin-left: 600px;
            padding-right: 300px;
            margin-top: -220px;
        }
    }

</style>