---
const {header, text} = Astro.props;
---
<div class="banner">
    <h2>{header}</h2>
    <div class="text_position"> 
    <p>{text}</p>
    </div>
</div>

<style>
    .banner{
        background: var(--Footer, #151513);
        display: flex;
        flex-wrap: nowrap;
        flex-direction: column;
        height:200px;
        position: relative;
        z-index:1;
    }

    p{
        font-weight: 200;
        max-width: 600px;
        position: absolute;
        bottom: 10px;
        padding-right: 20px;
    }

    h2{
        color: var(--BACKGROUND, #242520);
        font-size: 124px;
        font-weight: 900;
        text-align: center;

    }
    .text_position{
        display: flex;
        justify-content: center;
        margin-left: 200px;
    }
    @media (min-width: 1000px){
     
        h2{
            font-size: 200px;
        }
        p{ 
            font-size: 30px;
            bottom: 10px;
        }

        .text_position{
        display: flex;
        justify-content: center;
        margin-left: 500px;
    }

    .banner{
        height:330px;
    }
    }

</style>