---
const {img, header, text} = Astro.props;
---
<article class="grid_1-1">

    <div class="img">
        <img src={img}>
    </div>
    <div class="text">
        <h2>{header}</h2>
        <p>{text}</p>
    </div>

</article>
<style>
    .grid_1-1{
        display: grid;
        grid-template-columns: 1fr 1fr;
        margin-top: 20px;
        padding-bottom: 0px;
        margin-right: 20px;
    }

    .img {
        margin-left: 40px;
        margin-top: 45px;
    }

    img{
        max-width: 100%;
        height: 80px;
        margin-top: -30px;
    }
    .text{
        margin-left: -30px;
        margin-top: 0px;
        font-size: 14px;
        font-family: var(--system-ui);
        color: var( --font_color);
    }

    h2{
        font-size: 22px;
    }

    @media (min-width: 1000px){
        .grid_1-1{
        display: flex;
        grid-template-columns: 1fr 1fr;
        justify-content: flex-start;
    }
        .img {
            margin-top: 0px;
    }

    img{
        max-width: 100%;
        height: 120px;
    }
    .text{
        font-family: var(--system-ui);
        font-size: 22px;
        color: var( --font_color);
        margin-left: 30px;
        margin-top: -20px;
    }
    }

</style>