---
import "../css/style.css";
const {title} = Astro.props;
import Banner from "../components/Banner.astro";
import Nav from "../components/Nav.astro";
import DropDown from "../components/DropDown.astro";
import Footer from "../components/Footer.astro";
---

<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<link rel="icon" type="image/svg+xml" href="/icons/favicon.svg" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<title>{title}</title>
	</head>
	<body>
        <header>
            <Banner/>
            <Nav/>
            <DropDown/>
        </header>
		<main>
            <slot/>
        </main>
        <footer> <Footer/> </footer>
	</body>
</html>


<style>

main{
	padding-top: 60px;
}


</style>